In [1]:
import pandas as pd
import datetime as dt

In [2]:
bike_may_df = pd.read_csv("Resources/JC-202305-citibike-tripdata.csv")
bike_may_df.head()

,ride_id,rideable_type,started_at,ended_at,start_station_name,start_station_id,end_station_name,end_station_id,start_lat,start_lng,end_lat,end_lng,member_casual
0,BC145343639B5E5B,classic_bike,2023-05-31 12:27:28,2023-05-31 12:38:36,Pershing Field,JC024,Newport PATH,JC066,40.742675,-74.051806,40.727224,-74.033759,member
1,A0CE41F47514FF5C,classic_bike,2023-05-01 18:12:37,2023-05-01 18:29:03,Pershing Field,JC024,Baldwin at Montgomery,JC020,40.742638,-74.051815,40.723659,-74.064194,casual
2,D588077E3D7E2AFD,electric_bike,2023-05-28 17:37:58,2023-05-28 18:39:39,Pershing Field,JC024,Pershing Field,JC024,40.742677,-74.051789,40.742677,-74.051789,casual
3,89AC48A5584B2DB4,classic_bike,2023-05-27 21:01:37,2023-05-27 21:13:16,Pershing Field,JC024,Manila & 1st,JC082,40.742677,-74.051789,40.721651,-74.042884,member
4,709E0B11AB4A0E6C,classic_bike,2023-05-22 12:38:54,2023-05-22 13:02:13,Pershing Field,JC024,Jersey & 3rd,JC074,40.742677,-74.051789,40.723332,-74.045953,member

In [ ]:
bike_may_df.info()

In [3]:
bike_april_df = pd.read_csv("Resources/JC-202304-citibike-tripdata.csv")
bike_april_df.head()

,ride_id,rideable_type,started_at,ended_at,start_station_name,start_station_id,end_station_name,end_station_id,start_lat,start_lng,end_lat,end_lng,member_casual
0,59B1078FC3455D5B,electric_bike,2023-04-02 14:50:55,2023-04-02 15:01:24,Hamilton Park,JC009,Hamilton Park,JC009,40.727596,-74.044247,40.727596,-74.044247,member
1,84365D599B6E002E,electric_bike,2023-04-15 21:08:54,2023-04-16 10:54:44,Hamilton Park,JC009,Hamilton Park,JC009,40.727596,-74.044247,40.727596,-74.044247,casual
2,A4F033EAA7810781,classic_bike,2023-04-17 10:35:11,2023-04-17 10:37:53,Hamilton Park,JC009,Monmouth and 6th,JC075,40.727596,-74.044247,40.725685,-74.048790,member
3,E9051DFD91E516BF,classic_bike,2023-04-07 12:19:31,2023-04-07 12:21:52,Hamilton Park,JC009,Monmouth and 6th,JC075,40.727596,-74.044247,40.725685,-74.048790,member
4,0F6D86AEC1B29205,classic_bike,2023-04-07 12:28:21,2023-04-07 12:30:23,Hamilton Park,JC009,Monmouth and 6th,JC075,40.727596,-74.044247,40.725685,-74.048790,member

In [ ]:
bike_april_df.info()

In [4]:
bike_march_df = pd.read_csv("Resources/JC-202303-citibike-tripdata.csv")
bike_march_df.head()

,ride_id,rideable_type,started_at,ended_at,start_station_name,start_station_id,end_station_name,end_station_id,start_lat,start_lng,end_lat,end_lng,member_casual
0,38F943EA06A4E54F,electric_bike,2023-03-25 09:20:57,2023-03-25 09:32:10,Jersey & 6th St,JC027,Glenwood Ave,JC094,40.725289,-74.045572,40.727551,-74.071061,member
1,C76EFC4C3B771E88,electric_bike,2023-03-15 07:55:41,2023-03-15 08:07:44,Jersey & 6th St,JC027,Glenwood Ave,JC094,40.725289,-74.045572,40.727551,-74.071061,casual
2,02C7BC83975952E6,electric_bike,2023-03-20 08:50:11,2023-03-20 09:00:37,Jersey & 6th St,JC027,Glenwood Ave,JC094,40.725289,-74.045572,40.727551,-74.071061,member
3,DB0FB572E0AA9C36,electric_bike,2023-03-02 10:17:07,2023-03-02 10:27:22,Jersey & 6th St,JC027,Glenwood Ave,JC094,40.725289,-74.045572,40.727551,-74.071061,casual
4,A238B2BDD1072D52,electric_bike,2023-03-04 09:13:23,2023-03-04 09:25:30,Jersey & 6th St,JC027,Glenwood Ave,JC094,40.725289,-74.045572,40.727551,-74.071061,member

In [ ]:
bike_march_df.info()

In [5]:
all_bikes_df = pd.concat([bike_may_df, bike_april_df, bike_march_df], ignore_index=True)

In [ ]:
all_bikes_df.head()

In [ ]:
all_bikes_df.info()

In [6]:
all_bikes_df = all_bikes_df.dropna()

In [7]:
all_bikes_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 239077 entries, 0 to 239761
Data columns (total 13 columns):
 #   Column              Non-Null Count   Dtype
---  ------              --------------   -----
 0   ride_id             239077 non-null  object
 1   rideable_type       239077 non-null  object
 2   started_at          239077 non-null  object
 3   ended_at            239077 non-null  object
 4   start_station_name  239077 non-null  object
 5   start_station_id    239077 non-null  object
 6   end_station_name    239077 non-null  object
 7   end_station_id      239077 non-null  object
 8   start_lat           239077 non-null  float64
 9   start_lng           239077 non-null  float64
 10  end_lat             239077 non-null  float64
 11  end_lng             239077 non-null  float64
 12  member_casual       239077 non-null  object
dtypes: float64(4), object(9)
memory usage: 25.5+ MB

In [8]:
all_bikes_df.head()

,ride_id,rideable_type,started_at,ended_at,start_station_name,start_station_id,end_station_name,end_station_id,start_lat,start_lng,end_lat,end_lng,member_casual
0,BC145343639B5E5B,classic_bike,2023-05-31 12:27:28,2023-05-31 12:38:36,Pershing Field,JC024,Newport PATH,JC066,40.742675,-74.051806,40.727224,-74.033759,member
1,A0CE41F47514FF5C,classic_bike,2023-05-01 18:12:37,2023-05-01 18:29:03,Pershing Field,JC024,Baldwin at Montgomery,JC020,40.742638,-74.051815,40.723659,-74.064194,casual
2,D588077E3D7E2AFD,electric_bike,2023-05-28 17:37:58,2023-05-28 18:39:39,Pershing Field,JC024,Pershing Field,JC024,40.742677,-74.051789,40.742677,-74.051789,casual
3,89AC48A5584B2DB4,classic_bike,2023-05-27 21:01:37,2023-05-27 21:13:16,Pershing Field,JC024,Manila & 1st,JC082,40.742677,-74.051789,40.721651,-74.042884,member
4,709E0B11AB4A0E6C,classic_bike,2023-05-22 12:38:54,2023-05-22 13:02:13,Pershing Field,JC024,Jersey & 3rd,JC074,40.742677,-74.051789,40.723332,-74.045953,member

In [9]:
all_bikes_df['started_at'] = pd.to_datetime(all_bikes_df['started_at'])
all_bikes_df['ended_at'] = pd.to_datetime(all_bikes_df['ended_at'])

In [ ]:
all_bikes_df.head()

In [10]:
all_bikes_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 239077 entries, 0 to 239761
Data columns (total 13 columns):
 #   Column              Non-Null Count   Dtype
---  ------              --------------   -----
 0   ride_id             239077 non-null  object
 1   rideable_type       239077 non-null  object
 2   started_at          239077 non-null  datetime64[ns]
 3   ended_at            239077 non-null  datetime64[ns]
 4   start_station_name  239077 non-null  object
 5   start_station_id    239077 non-null  object
 6   end_station_name    239077 non-null  object
 7   end_station_id      239077 non-null  object
 8   start_lat           239077 non-null  float64
 9   start_lng           239077 non-null  float64
 10  end_lat             239077 non-null  float64
 11  end_lng             239077 non-null  float64
 12  member_casual       239077 non-null  object
dtypes: datetime64[ns](2), float64(4), object(7)
memory usage: 25.5+ MB

In [11]:
all_bikes_df['ride_duration_mins'] = all_bikes_df['ended_at'] - all_bikes_df['started_at']

In [ ]:
all_bikes_df.head()

In [12]:
all_bikes_df['ride_duration_mins'] = all_bikes_df['ride_duration_mins'].dt.total_seconds() / 60

In [13]:
all_bikes_df.head()

,ride_id,rideable_type,started_at,ended_at,start_station_name,start_station_id,end_station_name,end_station_id,start_lat,start_lng,end_lat,end_lng,member_casual,ride_duration_mins
0,BC145343639B5E5B,classic_bike,2023-05-31 12:27:28,2023-05-31 12:38:36,Pershing Field,JC024,Newport PATH,JC066,40.742675,-74.051806,40.727224,-74.033759,member,11.133333
1,A0CE41F47514FF5C,classic_bike,2023-05-01 18:12:37,2023-05-01 18:29:03,Pershing Field,JC024,Baldwin at Montgomery,JC020,40.742638,-74.051815,40.723659,-74.064194,casual,16.433333
2,D588077E3D7E2AFD,electric_bike,2023-05-28 17:37:58,2023-05-28 18:39:39,Pershing Field,JC024,Pershing Field,JC024,40.742677,-74.051789,40.742677,-74.051789,casual,61.683333
3,89AC48A5584B2DB4,classic_bike,2023-05-27 21:01:37,2023-05-27 21:13:16,Pershing Field,JC024,Manila & 1st,JC082,40.742677,-74.051789,40.721651,-74.042884,member,11.650000
4,709E0B11AB4A0E6C,classic_bike,2023-05-22 12:38:54,2023-05-22 13:02:13,Pershing Field,JC024,Jersey & 3rd,JC074,40.742677,-74.051789,40.723332,-74.045953,member,23.316667

In [14]:
all_bikes_df.to_csv("Resources/all_bikes_spring2023_withduration.csv")